<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5wrcqCihwOOZcoX43NMZGtt8yK-a8XcA</string>
	<key>GCM_SENDER_ID</key>
	<string>710793831619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobSeeker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>job-seeker-5306d</string>
	<key>STORAGE_BUCKET</key>
	<string>job-seeker-5306d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710793831619:ios:0236c40d2cf748d7c56e76</string>
</dict>
</plist>